* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

.wrapper {
  flex: 1;
  z-index: 0;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.filter {
  display: flex;
  flex: 0 0 300px;
  max-width: 300px;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  border-right: 1px solid #dee5ed;
}

.filter.hide {
  display: none;
}

.filter__header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 12px 0 20px;
  background-color: #fff;
  justify-content: space-between;
  border-bottom: 1px solid #d3dae3;
  transition: all 0.3s;
}

.filter__header > .title {
  font-size: 16px;
  color: #354053;
  font-weight: 600;
  margin-right: 10px;
  line-height: normal;
}

.filter__content {
  overflow-y: auto;
  padding-top: 6px;
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.main__header {
  height: 50px;
  display: flex;
  padding: 0 10px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f9fb;
  border-bottom: 1px solid #d3dae3;
}

.main__content > .tools {
  height: 45px;
  padding: 0 10px;
  box-shadow: none;
  position: relative;
  border-bottom: none;
  background-color: #f7f9fb;
}

.main__content {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f7f9fb;
}

.main__content > .box {
  overflow-y: auto;
  margin: 0 10px 10px;
  width: calc(100% - 20px);
  height: calc(100% - 10px);
  

  background-color: yellow;
}

.tools__wrapper {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.tools__wrapper > div {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.tools__wrapper > .right {
  justify-content: flex-end;
}
